body {
    background-color: #818080;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.hero {
    height: 650px;
    background-image: url(../imagens/bg-4.jpg);
    background-size: cover;
    background-position: right top;
    padding-top: 1px;
    margin-bottom: 50px;
}

.hero-content {
    margin: 80px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.hero-content p {
    background-color: rgba(0,0,0, 0.6);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
}

.hero nav ul {
    margin: 20px 50px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 6px;
}

.hero nav a {
    background-color: rgba(0,0,0, .3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.hero nav a:hover {
    background-color: rgba(0,0,0, .8);
}

main {
    width: 80%;
    max-width: 860px;
    margin: auto;
}

article {
    background-color: white;
    padding: 16px;
    margin-bottom: 32px;
}

article h2 {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 5px;
    margin-top: 0;
}

.btn {
    background-color: #cdc7c3;
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
    margin-left: auto;
}

footer {
    background-color: #383838;
    text-align: center;
    padding: 26px;
    color: white;
    font-size: 12px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}